{% include directory ~ '/partials/header.html.twig'%}

<div class="container-fluid">
  <div class="wrapper">

    <main role="main">

      <section class="section-wrapper section-servicios-1 servicios-section " id="energia">
        <div class="header">
          <img src="./themes/custom/gftheme/images/icon-energia.png" alt="Energia" class="img-fluid" />
          <h4>Energía</h4>
        </div>
        <div class="content row align-items-center justify-content-center">
          <div class="circle-container justify-content-center">
            <div class="circle">Analizamos<br>TENDENCIAS <br>DEL SECTOR <br>ENERGÉTICO</div>
          </div>
          <div class="circle-container">
            <div class="circle">Focalizados en<br>
              ENERGÍAS<br>
              RENOVABLES</div>
          </div>
          <div class="circle-container">
            <div class="circle">Buscamos<br>
              ENERGÍAS<br>
              RENOVABLES</div>
          </div>
          <div class="circle-container">
            <div class="circle">A partir de<br>
              FUENTES<br>
              SEGURAS Y<br>
              CONFIABLES</div>
          </div>
          <div class="circle-container">
            <div class="circle">Proponemos<br>
              PROYECTOS DE<br>
              INVERSIÓN Y<br>
              OPORTUNIDADES<br>
              DE NEGOCIO.</div>
          </div>
        </div>
      </section>
      <!-- Section -->
      <section class="section-wrapper section-servicios-2 servicios-section scroll-animation" id="agro">
        <div class="header">
          <img src="./themes/custom/gftheme/images/icon-agro.png" alt="Energia" class="img-fluid" />
          <h4>AGRONEGOCIOS</h4>
          <p>Diseñamos estrategias de inversión en base a los factores<br>y tendencias proyectadas a corto y largo
            plazo.</p>
        </div>
        <div class="content row align-items-center justify-content-center">
          <div class="left">
            <h6>FACTORES</h6>
            <ul>
              <li>Aumento de la población mundial.</li>
              <li>Liberalización comercial y demanda de biocombustibles.</li>
              <li>Incremento de los ingresos de los habitantes de países emergentes.</li>
            </ul>
          </div>
          <div class="right">
            <h6>Tendencias</h6>
            <ul>
              <li>Escenario de precios favorables para el sector.</li>
              <li>Cambio en los patrones de alimentación de la población.</li>
              <li>Conversión de productos primarios en bienes semi-procesados.</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Section -->
      <!-- Section -->
      <section class="section-wrapper section-servicios-3 servicios-section scroll-animation" id="medio">
        <div class="header">
          <img src="./themes/custom/gftheme/images/icon-medio.png" alt="Energia" class="img-fluid" />
          <h4>MEDIO AMBIENTE</h4>
        </div>
        <div class="content row align-items-center justify-content-center">
          <div class="col">
            <div class="content">
              <div class="number">1</div>
              <div class="text">Nos ocupamos de cuidar el medio ambiente.</div>
            </div>
          </div>
          <div class="col">
            <div class="content">
              <div class="number">2</div>
              <div class="text">Participamos activamente en los mercados de carbono.</div>
            </div>
          </div>
          <div class="col">
            <div class="content">
              <div class="number">3</div>
              <div class="text">Sincronizamos core business empresarial con el factor medioambiental.</div>
            </div>
          </div>
          <div class="col">
            <div class="content">
              <div class="number">4</div>
              <div class="text">Adaptamos nuestras operaciones a los esquemas globales.</div>
            </div>
          </div>

        </div>
      </section>
      <!-- Section -->
      <!-- Section -->
      <section class="section-wrapper section-servicios-4 servicios-section scroll-animation" id="bio">
        <div class="header">
          <img src="./themes/custom/gftheme/images/icon-bio.png" alt="Energia" class="img-fluid" />
          <h4>BIOTECNOLOGÍA</h4>
          <p><span class="font-bold">Laboratorio 2020:</span><br>el espacio de seguimiento de proyectos de inversión y
            cambios de estructuras biotecnológicas</p>
        </div>
        <div class="content row align-items-center justify-content-center">
          <div class="col">
            <div class="circle">DESARROLLO<br>DE AGRICULTURA<br>Y FORESTACIÓN</div>
          </div>
          <div class="col">
            <div class="circle">GENERACIÓN<br>DE ENERGÍA<br>RENOVABLE</div>
          </div>
          <div class="col">
            <div class="circle">CUIDADO<br>DE LA SALUD</div>
          </div>
        </div>
      </section>
      <!-- Section -->
      <section class="section-wrapper section-servicios-5 servicios-section scroll-animation" id="tics">
        <div class="header">
          <img src="./themes/custom/gftheme/images/icon-tics.png" alt="Energia" class="img-fluid" />
          <h4>TICS</h4>
          <p><span class="font-bold">Nuestra adaptación a las Tecnologías de Información y Comunicación (TICS)<br> nos
              permite asumir nuevos desafíos y seguir las nuevas tendencias en:</p>
        </div>
        <div class="content row align-items-center justify-content-center">
          <div class="col">
            <img src="./themes/custom/gftheme/images/icon-tarjetas.png" alt="Energia" class="img-fluid" />
            <div class="text">TARJETAS<br>
              DE CRÉDITO</div>
          </div>
          <div class="col">
            <img src="./themes/custom/gftheme/images/icon-telefonia.png" alt="Energia" class="img-fluid" />
            <div class="text" style="transform: translate(0px, -10px)">TELEFONÍA</div>
          </div>
          <div class="col">
            <img src="./themes/custom/gftheme/images/icon-pagos.png" alt="Energia" class="img-fluid" />
            <div class="text">PAGOS BANCARIOS<br>
              Y TRANSFERENCIAS </div>
          </div>
        </div>
      </section>
    </main>

    {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
    {% endif %}
  </div>
</div>

{% include directory ~ '/partials/footer.html.twig' %}
{# /.layout-container #}
