<footer role="contentinfo">
  <!-- CONTACTO -->
  <section class="section-wrapper-footer contacto-container" id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Contactanos.</h2>
          <p>Completá tus datos y un representante
            se contactará con vos a la brevedad.</p>
        </div>
        <div class="col-lg-6 border-left-white">
          <div class="form">
            {{ page.footer }}
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
