<footer role="contentinfo">
  <!-- CONTACTO -->
  <section class="section-wrapper contacto-container" id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Contactanos.</h2>
          <p>Completá tus datos y un representante
            se contactará con vos a la brevedad.</p>
        </div>
        <div class="col-lg-6 border-left-white">
          <div class="form">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nombre" />
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nombre" />
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nombre" />
            <button type="button" class="btn btn-contacto">ENVIAR MENSAJES</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ page.footer }}
</footer>
