<footer role="contentinfo">
  <!-- CONTACTO -->
  <section class="section-wrapper-footer contacto-container" id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>{% if language.getId() == 'en' %}
            Contact us.
            {% elseif language.getId() == 'es' %}
            Contactanos.
            {% endif %}</h2>
          <p>{% if language.getId() == 'en' %}
            Fill in your information and a representative will contact you shortly.
            {% elseif language.getId() == 'es' %}
            Completá tus datos y un representante
            se contactará con vos a la brevedad.
            {% endif %}</p>
        </div>
        <div class="col-lg-6 border-left-white">
          <div class="form">
            {{ page.footer }}
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
