<header class="main-header" role="banner">
  <div class="container-fluid">
    <div class="wrapper">
      {{ page.header }}
      <!-- <div class="search">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div> -->
      <div class="social-networks">
        <ul class="social-network-container">
          <li>
            <a href="/"><img src="./themes/custom/gftheme/images/icon-fb.png" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="/"><img src="./themes/custom/gftheme/images/icon-ld.png" alt="Linkedin" />
            </a>
          </li>
          <li>
            <a href="/"><img src="./themes/custom/gftheme/images/icon-tw.png" alt="Twitter" />
            </a>
          </li>
          <li>
            <a href="/"><img src="./themes/custom/gftheme/images/icon-yt.png" alt="You Tube" />
            </a>
          </li>
        </ul>
      </div>
      <div class="main-navigation">
        {{page.main_navigation}}
      </div>
    </div>
  </div>
</header>
