.contacto-container {
  background: #223362;
  color: #fff;

  input {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 0;
    padding-left: 0;
  }
  .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .btn-contacto {
    background: #ffffff;
    font-weight: 700;
    font-size: 14px;
    color: #223362;
    width: 100%;
    margin: 10px 0;
  }
  ::placeholder {
    color: #fff !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
  }

  .border-left-white {
    border-left: 1px solid #fff;
  }
}
