.main-header {
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 20px 0 30px;
  transition: background-color 0.5s ease;
  top: 0;
  &.blue,
  &.front,
  &.servicios-blue {
    background: #fff;
    transition: background-color 0.5s ease;
  }
}
#block-gftheme-branding {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
    text-align: center;
    margin: 0 auto;
    width: 100px;
    top: 30px;
    img {
      max-width: 100%;
    }
  }
}
.main-navigation {
  nav {
    width: 100%;
    padding: 0;

    .navbar-toggler {
      color: #fff;
      transform: translatey(-50px);
    }

    ul {
      width: 100%;
      justify-content: space-between;
      li {
        width: 14%;
        text-align: center;
        margin: 0 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      li:nth-child(4) {
        opacity: 0;
      }

      a {
        display: block;
        width: 100%;
        color: #fff;
        text-decoration: none;
        padding: 7px;
        border: 2px solid #fff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 13px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &.blue,
  &.front,
  &.servicios-blue {
    nav {
      .navbar-toggler {
        color: #223362 !important;
      }
      ul {
        a {
          color: #223362 !important;
          border: 2px solid #223362 !important;
        }
      }
    }
    .line {
      background-color: #223362 !important;
    }
  }
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;

  .input-group > div {
    width: 100%;
  }

  .form-control {
    height: calc(1em + 0.75rem + 2px);
  }

  .input-group input[type='search'] {
    width: 150px;
    float: right;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .input-group input[type='search']:focus {
    width: 100%;
  }

  .dimmed {
    filter: blur(3px);
    opacity: 0.2;
    transition: all 0.3s;
  }

  .sbox {
    transform: translate(0, -4em);
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    -o-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
  }

  .form-submit {
    display: none;
  }

  .social-networks {
    #magnet-icon {
      cursor: pointer;
    }
    .social-network-container {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      .header-icon {
        fill: #f2c453;
      }

      li {
        list-style: none;
        margin-left: 5px;
      }
    }
    &.blue,
    &.front,
    &.servicios-blue {
      .header-icon {
        fill: #223463;
      }
    }
  }
}

.account-menu {
  padding: 0 115px;
  display: flex;
  justify-content: flex-end;
  background: black;
  color: #fff;
  list-style: none;
  width: 100%;
  li {
    margin-left: 10px;
  }
  a {
    color: #fff;
  }
}
