.carousel-container {
  position: relative;
  .carousel-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.dialog-off-canvas-main-canvas {
  // padding-top: 135px;
}

.logo-section-1 {
  margin-bottom: 20px;
}

.article-list {
  h3 {
    a {
      color: #464646;
      text-decoration: none;
    }
  }

  p {
    line-height: 1.5;
  }

  .views-row {
    margin: 40px 0;
  }

  .views-field-view-node {
    a {
      color: red;
      text-decoration: none;
    }
  }
}

.negocios-container {
  justify-content: center;
}

.negocio {
  position: relative;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  width: 100%;
  .negocio-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    color: #fff;
    width: 80%;
  }
}
.servicios-container {
  .column-servicios {
    background: #f2c453;
    padding: 40px !important;
    color: #fff;
    cursor: pointer;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 25%;
    @media (min-width: 1200px) {
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0;
    }
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2em;
      font-weight: 700;
    }
    img {
      width: 80%;
    }

    .text-left-expanded {
      text-align: left;
    }

    &.consultoria-container {
      text-align: left;
      ol {
        padding-left: 20px;
      }
      li {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    svg {
      width: 100%;
    }

    &.hidden-element {
      h4 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1em;
        font-weight: 400;
      }
      background: #f6f6f6;
      color: #223362;
      height: 220px;
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0 25%;
      @media (min-width: 1200px) {
        flex: 0 0 25%;
        max-width: 25%;
        margin: 0;
      }

      .expanded {
        display: none;
      }
      .text-left-expanded {
        text-align: center;
      }
    }
  }
}

.informes-container {
  margin: 40px 0;

  .informes-title {
    display: flex;
    margin-bottom: 10px;
    img {
      width: 40%;
      margin-right: 10px;
    }
    h4 {
      text-align: left;
      font-size: 1.25em;
    }
  }

  .blue-container {
    background: #223362;
    color: #fff;
    padding: 2px 5px;
    position: relative;
    text-align: left;
    cursor: pointer;
    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translatey(-50%);
    }
  }

  .newsletter-container {
    input {
      border: none;
      border-bottom: 1px solid #ced4da;
      border-radius: 0;
      padding-left: 0;
    }
    .btn-newsletter {
      background: #f2c453;
      font-weight: 700;
      font-size: 0.75em;
      color: #fff;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.eventos-container {
  .evento-date {
    font-size: 12px;
  }
  .evento-title {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
  }
  .evento-place {
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 50px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}

.prensa-container {
  margin: 40px 0;
}

.prensa-element-container {
  padding: 25px;
  max-width: 300px;

  .prensa-title {
    display: flex;
    justify-content: space-between;
    .image-element {
      width: 50%;
      padding: 5px;
      align-self: center;
      img {
        max-height: 150px;
        width: 100%;
        height: auto;
      }
    }
    h4 {
      text-align: left;
    }
    .prensa-content {
      width: 50%;
      p,
      .date {
        font-size: 12px;
        margin-bottom: 10px;
        word-break: break-all;
        overflow: hidden;
        max-height: 50px;
      }
    }
  }

  a {
    background: #223362;
    color: #fff;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    display: block;
    &::after {
      content: url(../images/icon-arrow.png);
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translatey(-42%);
    }
  }
}

.st0-graph2 {
  fill: #223362;
}

.st1-graph2 {
  font-family: 'Roboto-Bold';
}

.st2-graph2 {
  font-size: 12.3987px;
}

.st3-graph2 {
  fill: none;
  stroke: #223362;
  stroke-width: 0.8938;
  stroke-miterlimit: 10;
}

// Servicios first svg

.st0 {
  fill: #fafafa;
}

.st1 {
  font-weight: 700;
}

.st2 {
  font-size: 24px;
}

.st3 {
  fill: none;
  stroke: #223362;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st4 {
  fill: #223362;
}

.st5 {
  fill: none;
}

.st6 {
  fill: #ffffff;
}

.st7 {
  font-weight: 400;
}

.st8 {
  font-size: 14px;
}
