.carousel-container {
  position: relative;
  .carousel-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.logo-section-1 {
  margin-bottom: 20px;
}

.article-list {
  h3 {
    a {
      color: #464646;
      text-decoration: none;
    }
  }

  p {
    line-height: 1.5;
  }

  .views-row {
    margin: 40px 0;
  }

  .views-field-view-node {
    a {
      color: red;
      text-decoration: none;
    }
  }
}

.negocios-container {
  justify-content: center;
}

.negocio {
  position: relative;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  width: 100%;
  .negocio-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    color: #fff;
    width: 80%;
  }
}
.servicios-container {
  .column-servicios {
    background: #f2c453;
    padding: 40px !important;
    color: #fff;
    cursor: pointer;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 25%;
    @media (min-width: 1200px) {
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0;
    }
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2em;
      font-weight: 700;
    }
    img {
      width: 80%;
    }

    .text-left-expanded {
      text-align: left;
    }

    &.consultoria-container {
      text-align: left;
      ol {
        padding-left: 20px;
      }
      li {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    svg {
      width: 100%;
    }

    &.hidden-element {
      h4 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1em;
        font-weight: 400;
      }
      background: #f6f6f6;
      color: #223362;
      height: 220px;
      flex: 0 0 50%;
      max-width: 50%;
      margin: 0 25%;
      @media (min-width: 1200px) {
        flex: 0 0 25%;
        max-width: 25%;
        margin: 0;
      }

      .expanded {
        display: none;
      }
      .text-left-expanded {
        text-align: center;
      }
    }
  }
}

.informes-container {
  margin: 40px 0;

  .informes-title {
    display: flex;
    margin-bottom: 10px;
    img {
      width: 40%;
      margin-right: 10px;
    }
    h4 {
      text-align: left;
      font-size: 1.25em;
    }
  }

  .blue-container {
    background: #223362;
    color: #fff;
    padding: 2px 5px;
    position: relative;
    text-align: left;
    cursor: pointer;
    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translatey(-50%);
    }
  }

  .newsletter-container {
    label {
      text-align: center;
      color: #495057;
    }
    input {
      border: none;
      border-bottom: 1px solid #ced4da;
      border-radius: 0;
      padding-left: 0;
    }
    .btn-newsletter {
      background: #f2c453;
      font-weight: 700;
      font-size: 0.75em;
      color: #fff;
      width: 100%;
      margin: 10px 0;
      border: none;
      border-radius: 0.25rem;
    }
  }
}

.eventos-container {
  position: relative;
  .evento-date {
    font-size: 12px;
  }
  .evento-title {
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
  }
  .evento-place {
    font-style: italic;
    font-size: 12px;
    font-weight: 700;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 50px;
    height: 260px;
    overflow: scroll;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}

.prensa-container {
  margin: 40px 0;
}

.prensa-element-container {
  padding: 25px;
  max-width: 300px;

  .prensa-title {
    display: flex;
    justify-content: space-between;
    .image-element {
      width: 50%;
      padding: 5px;
      align-self: center;
      img {
        max-height: 150px;
        width: 100%;
        height: auto;
      }
    }
    h4 {
      text-align: left;
    }
    .prensa-content {
      width: 50%;
      p,
      .date {
        font-size: 12px;
        margin-bottom: 10px;
        word-break: break-all;
        overflow: hidden;
        max-height: 50px;
      }
    }
  }

  a {
    background: #223362;
    color: #fff;
    padding: 2px 5px;
    position: relative;
    text-align: center;
    display: block;
    &::after {
      content: url(../images/icon-arrow.png);
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translatey(-42%);
    }
  }
}

.st0-graph2 {
  fill: #223362;
}

.st1-graph2 {
  font-family: 'Roboto-Bold';
}

.st2-graph2 {
  font-size: 12.3987px;
}

.st3-graph2 {
  fill: none;
  stroke: #223362;
  stroke-width: 0.8938;
  stroke-miterlimit: 10;
}

// Servicios first svg

.st0 {
  fill: #fafafa;
}

.st1 {
  font-weight: 700;
}

.st2 {
  font-size: 24px;
}

.st3 {
  fill: none;
  stroke: #223362;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st4 {
  fill: #223362;
}

.st5 {
  fill: none;
}

.st6 {
  fill: #ffffff;
}

.st7 {
  font-weight: 400;
}

.st8 {
  font-size: 14px;
}

.search-page {
  #search-form,
  #block-gftheme-local-tasks,
  #block-gftheme-page-title {
    display: none;
  }

  .pager__items.js-pager__items {
    list-style: none;
    display: flex;
    li.pager__item {
      margin: 10px;
    }

    li.pager__item--last {
      display: none;
    }
  }
}

// MOBILE VERSION

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: #7eb444;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 4px;
  background-color: #fff;
  margin-bottom: 5px;
}

.home-bar {
  background: rgb(246, 166, 4);
  background: linear-gradient(
    90deg,
    rgba(246, 166, 4, 1) 0%,
    rgba(234, 105, 11, 1) 100%
  );
  height: 2px;
}

.navbar {
  align-items: flex-start !important;
}

.navbar-collapse {
  flex-basis: 30% !important;
  transform: translatey(0px);
}

.main-navigation nav .navbar-toggler {
  color: #fff;
  transform: translatey(0px);
}

.desktop-version {
  display: inherit;
}
.mobile-version {
  display: none;
}

// Mobile Styles

@media (max-width: 768px) {
  .padding-15 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .desktop-version {
    display: none !important;
  }
  .mobile-version {
    display: block !important;
  }

  .mobile-padding-0,
  .row {
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbar-toggler {
    border: none;
  }

  .social-networks {
    clear: both;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .main-navigation nav ul li {
    width: fit-content;
    text-align: left;
    margin: 5px 0;
    min-width: 103px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(4) {
      display: none;
    }
  }

  // NEGOCIOS

  .section-wrapper {
    padding: 100px 0 0px;
  }

  .element-of-5 {
    display: flex;
    width: 100% !important;
    margin: -9% 0 1%;
    a {
      transform: skewY(-5deg);
      max-width: 100%;
      & > img {
        width: 100%;
        transform: skewY(5deg);
      }
      .negocio-content {
        transform: skewY(5deg) translate(-50%, -45%);
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          margin-left: 5px;
        }
      }
    }
  }

  // SERVICIOS

  .column-servicios {
    max-width: 100% !important;
    margin: 0 !important;
    flex: auto !important;
    color: #223362 !important;
    position: relative;
    &:first-child {
      z-index: 1;
    }
    p {
      font-weight: 400 !important;
    }
    transform: skewY(-5deg);
    .rotate-inverse {
      transform: skewY(5deg);
    }

    &.hidden-element {
      transform: skewY(5deg);
      .rotate-inverse {
        transform: skewY(-5deg);
      }
    }
  }

  // INFORMES

  .col-mobile-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    .col-mobile-informes {
      background-color: #fafafa;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 10px auto;
      img {
        width: 50%;
      }
      h4 {
        font-size: 1.2em;
      }
    }
  }

  .informes-section {
    background-color: #fff;
    .mobile-title-informes {
      text-align: center;
      img {
        width: 50%;
        max-width: 100px;
      }
    }
    .mobile-block {
      flex: auto;
      max-width: 100%;
      .nav-pills .nav-link {
        color: #223362;
        &.active {
          background: #f2c453;
          color: #223362;
        }
      }
      h4 {
        text-align: center;
      }
      .flex-column {
        flex-direction: row !important;
        justify-content: center;

        a::after {
          content: '-';
          margin-left: 5px;
        }
        a:last-child:after {
          content: '';
        }
      }
    }
    .informes-content-container {
      height: auto;
      .informe-element-container {
        width: 100% !important;
        height: auto;
      }
    }
  }

  // EVENTS

  .eventos-container {
    .col-lg-5 {
      padding: 30px 10px;
    }
    .content {
      height: auto;
    }
    .mobile-eventos-image {
      margin: 0;
      padding: 0;

      .carousel {
        overflow: hidden;
        transform: skewY(-5deg);
        .carousel-inner {
          transform: skewY(5deg) scale(1.5);
        }
        .carousel-indicators li {
          background: #f2c453 !important;

          &.active {
            background: #223362 !important;
          }
        }
      }
    }
  }

  .old-events {
    transform: none !important;
  }

  .events-container-post {
    width: auto;
    ul {
      flex-flow: column !important;
      height: auto !important;
    }
  }

  .mobile-title {
    font-weight: 700;
  }

  // PRENSA

  .section-wrapper-last {
    padding: 50px 0 100px;
  }

  .prensa-element-container {
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: 20px;

    .image-element {
      display: none;
    }
    .prensa-content {
      width: 100% !important;
    }

    a {
      color: #223362 !important;
      background: #fff !important;
      border-bottom: 1px solid #223362;
      text-align: right;
      padding-right: 30px;
      &::after {
        content: url(../images/icon-arrow-blue.png);
      }
    }
  }

  .contacto-container {
    .border-left-white {
      border-left: none !important;
    }
  }

  // Menu

  .navbar-nav {
    background: rgba(255, 255, 255, 0.8);
    width: fit-content !important;
    a {
      color: #223362 !important;
      border: none !important;
      padding: 2px 7px !important;
    }
  }
  // MEDIA QUERY ENDS
}
