.servicios-section {
  min-height: 70vh;
  color: #fff;
  text-align: center;
  padding: 200px 0;
  margin-top: -80px;
  z-index: 5;
  position: relative;

  &:first-child {
    margin-top: 0px;
    padding: 50px 0 100px 0;
  }
  .header {
    margin: 0 50px;
    h4 {
      font-weight: 700;
    }
  }
  .content {
    margin-top: 25px;
    padding: 0 10%;
  }
}

.section-servicios-1 {
  background: url(../images/img-servicios-1.png) no-repeat center bottom;
  background-size: cover;
  z-index: 4;
  .circle-container {
    margin: 1%;
    width: 18%;
    @media (max-width: 1200px) {
      display: flex;
      width: initial !important;
    }
  }
  .content {
    margin-top: 50px;
    padding: 0 10%;
  }
  .circle {
    width: 150px;
    background: #f2c453;
    border-radius: 50%;
    height: 150px;
    vertical-align: middle;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 0.9em;
  }
}

.section-servicios-2 {
  background: url(../images/img-servicios-2.png) no-repeat center center;
  background-size: cover;
  z-index: 3;
  .content {
    div {
      text-align: left;
      width: 50%;
      h6 {
        padding-left: 15px;
        font-size: 15px;
        font-weight: 700;
      }
      ul {
        padding-left: 30px;
        border-left: 3px solid #fff;
        padding-bottom: 10px;
        margin: 0;
        li {
          line-height: 1;
          font-size: 15px;
        }
      }
    }

    .left {
      padding: 30px 20px;
      background: #f2c453;
    }
    .right {
      padding: 10px 20px 20px;
      background: #b7b7b7;
    }
  }
}

.section-servicios-3 {
  background: url(../images/img-servicios-3.png) no-repeat center center;
  background-size: cover;
  z-index: 2;
  .content {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 5%;
    .number {
      font-size: 90px;
      font-weight: 700;
      color: #f2c453;
    }
    .text {
      margin-left: 10px;
      text-align: left;
      font-size: 13px;
      flex-grow: 2;
    }
  }
}

.section-servicios-4 {
  background: url(../images/img-servicios-4.png) no-repeat center center;
  background-size: cover;
  z-index: 1;
  .content {
    margin-top: 50px;
    padding: 0 10%;
  }
  .circle {
    width: 150px;
    line-height: 1.2;
    background: transparent;
    border: 6px solid #f2c453;
    border-radius: 50%;
    height: 150px;
    vertical-align: middle;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 0.9em;
  }
}

.section-servicios-5 {
  background: url(../images/img-servicios-5.png) no-repeat center center;
  background-size: cover;
  z-index: 0;
  img {
    max-width: 100px;
  }
  .content {
    margin-top: 50px;
    padding: 0 10%;
  }
  .text {
    margin-top: 42px;
    font-weight: 700;
  }
}

.scroll-animation {
  transform: translateY(-250px);
  opacity: 0;
}

.come-in {
  animation: come-in 0.8s ease forwards;
}

@keyframes come-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .servicios-section {
    &.section-wrapper {
      padding: 100px 0 100px;
    }
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 20px;
      h4 {
        margin-left: 10px;
      }
      p {
        width: 100%;
        font-size: 1em;
      }
    }
    .mobile-servicio-box {
      width: 100% !important;
      background: rgba(255, 255, 255, 0.25);
      padding: 10px;
      margin-bottom: 10px;
      h6 {
        text-align: center !important;
      }

      ul {
        border-left: none !important;
      }
    }
    .circle-container:nth-child(3) {
      margin: 0 100px;
    }
  }

  .section-servicios-3 {
    & > .content {
      width: 100%;
      flex-direction: column;
      .text {
        font-size: 1em;
      }
    }
  }

  .section-servicios-5 {
    & > .content {
      width: 100%;
      flex-direction: column;
      .col {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 30px;
        width: 70%;
        img {
          max-width: 70px;
        }
        .text {
          margin-top: 0 !important;
          text-align: left;
          margin-left: 10px;
        }
      }
    }
  }
}
